= simple_form_for(:coupon, url: shopping_cart.coupons_path, method: :post) do |f|
  .input-group.general-input-group
    = f.input :code, placeholder: t('cart.enter_coupon'), input_html: { class: 'mb-30' },
        label_html: { class: 'input-label' }, label: t('cart.enter_coupon')
    %div
      = f.button :submit, class: 'btn-primary mr-5 mb-15', value: t('cart.apply_coupon')